@font-face {
    font-family: "ISOCPEUR";
    src: url("ISOCPEUR.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    font-family: 'ISOCPEUR';
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.nav-side {
    max-width: 300px;
}

.search-field {
    padding: 5px;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 4px;
    outline: none;
}

.search-field::-webkit-search-cancel-button {
    cursor: pointer;
}

.head-list {
    margin: 20px 0;
}

.head-list button {
    display: block;
    padding: 10px;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 5px;
    cursor: pointer;
}

.head-list button:not(:last-child) {
    margin-bottom: 10px;
}

.head-list button:only-child {
    display: none;
}

.head-list .male {
    background-color: rgb(200, 218, 255);
}

.head-list .female {
    background-color: rgb(255, 200, 200);
}

.info-block {
    position: relative;
    padding: 10px;
    border-radius: 4px;
}

.info-block:not(:empty) {
    border: 1px solid rgb(177, 177, 177);
}

.info-block:empty {
    padding: 0;
}

.info-block__close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.info-block__header {
    margin: 0 0 10px;
    font-weight: bold;
}

.info-block__text {
    margin: 0;
    white-space: pre-line;
}

.info-block__photos-block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.info-block__photos-card {
    margin-right: 5px;
    margin-bottom: 7px;
}

.info-block__photos-card details {
    display: none;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    padding: 10px;
    font-size: 14px;
    white-space: pre-line;
    color: white;
    background: #000000a4;
}

.info-block__photos-card img {
    width: 100px;
    cursor: pointer;
}

.info-block__photos-card div {
    font-size: 12px;
}

.info-block__photos-card.open {
    position: fixed;
    width: 100lvw;
    height: 100lvh;
    top: 0;
    left: 0;
    background: #000000e6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
}

.info-block__photos-card.open details {
    display: block;
}

.info-block__photos-card.open img {
    width: auto;
    max-width: 100vw;
    max-height: 100vh;
    margin: 0 auto;
}

.info-block__photos-card.open div {
    font-size: 16px;
    color: white;
}

.diagramm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 5px;
}

path,
circle {
    pointer-events: all;
}

text {
    user-select: none;
}

text.has-info {
    cursor: pointer;
}

@media (hover: none) {
    text.has-info {
        text-decoration: underline;
    }
}

text.has-info:hover {
    text-decoration: underline;
}

text:not(.has-info) {
    pointer-events: none;
}

path,
circle {
    stroke: rgb(177, 177, 177);
    stroke-width: 0.2;
    fill: rgb(221, 221, 221);
    fill-opacity: 0.2;
}

.male>path,
.male>circle {
    fill: rgb(200, 218, 255);
}

.female>path,
.female>circle {
    fill: rgb(255, 200, 200);
}

g:hover>circle,
g:hover>path {
    fill-opacity: 0.4;
}

g path:hover,
g circle:hover {
    fill-opacity: 0.8;
}

g:hover:not(:has(g:hover)) g circle,
g:hover:not(:has(g:hover)) g path {
    fill-opacity: 0.5;
}

g:has(.m1>path:hover) .m1:not(:has(path:hover))>path,
g:has(.m2>path:hover) .m2:not(:has(path:hover))>path,
g:has(.m3>path:hover) .m3:not(:has(path:hover))>path,
g:has(.m4>path:hover) .m4:not(:has(path:hover))>path,
g:has(.m4>path:hover) .m5:not(:has(path:hover))>path,
g:has(.m4>path:hover) .m6:not(:has(path:hover))>path,
g:has(.m4>path:hover) .m7:not(:has(path:hover))>path,
g:has(.m4>path:hover) .m8:not(:has(path:hover))>path,
g:has(.m4>path:hover) .m9:not(:has(path:hover))>path,
g:has(.m5>path:hover) .m10:not(:has(path:hover))>path {
    fill-opacity: 0.6;
}

.info {
    margin-top: 20px;
}

.searched>path {
    fill: rgb(56, 206, 59);
    fill-opacity: 0.4;
}