@font-face {
    font-family: "ISOCPEUR";
    src: url("ISOCPEUR.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

body {
    display: flex;
    justify-content: space-between;
    font-family: 'ISOCPEUR';
}

.nav-side {
    max-width: 300px;
}

.head-list {
    margin-bottom: 20px;
}

.head-list button {
    display: block;
    padding: 10px;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 5px;
    cursor: pointer;
}

.head-list button:not(:last-child) {
    margin-bottom: 10px;
}

.head-list button:only-child {
    display: none;
}

.head-list .male {
    background-color: rgb(200, 218, 255);
}

.head-list .female {
    background-color: rgb(255, 200, 200);
}

.info-block {
    position: relative;
    padding: 10px;
    border-radius: 4px;
}

.info-block:not(:empty) {
    border: 1px solid rgb(177, 177, 177);
}

.info-block:empty {
    padding: 0;
}

.info-block__close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.info-block__header {
    margin: 0 0 10px;
    font-weight: bold;
}

.info-block__text {
    margin: 0;
    white-space: pre-line;
}

.info-block__photos-block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.info-block__photos-card {
    margin-right: 5px;
}

.info-block__photos-card img {
    width: 100px;
}

.info-block__photos-card div {
    font-size: 12px;
}

.diagramm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 5px;
}

path,
circle {
    pointer-events: all;
}

text {
    user-select: none;
}

text.has-info {
    cursor: pointer;
}

@media (hover: none) {
    text.has-info {
        text-decoration: underline;
    }
}

text.has-info:hover {
    text-decoration: underline;
}

text:not(.has-info) {
    pointer-events: none;
}

path,
circle {
    fill: transparent;
    stroke: rgb(177, 177, 177);
    stroke-width: 0.2;
    fill: rgb(221, 221, 221);
    fill-opacity: 0.2;
}

.male>path,
.male>circle {
    fill: rgb(200, 218, 255);
}

.female>path,
.female>circle {
    fill: rgb(255, 200, 200);
}

g:hover>circle,
g:hover>path {
    fill-opacity: 0.4;
}

g path:hover,
g circle:hover {
    fill-opacity: 0.8;
}

g:hover:not(:has(g:hover)) g circle,
g:hover:not(:has(g:hover)) g path {
    fill-opacity: 0.5;
}

g:has(.m1>path:hover) .m1:not(:has(path:hover))>path,
g:has(.m2>path:hover) .m2:not(:has(path:hover))>path,
g:has(.m3>path:hover) .m3:not(:has(path:hover))>path,
g:has(.m4>path:hover) .m4:not(:has(path:hover))>path,
g:has(.m4>path:hover) .m5:not(:has(path:hover))>path,
g:has(.m4>path:hover) .m6:not(:has(path:hover))>path,
g:has(.m4>path:hover) .m7:not(:has(path:hover))>path,
g:has(.m4>path:hover) .m8:not(:has(path:hover))>path,
g:has(.m4>path:hover) .m9:not(:has(path:hover))>path,
g:has(.m5>path:hover) .m10:not(:has(path:hover))>path {
    fill-opacity: 0.6;
}